<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SCM.Web</title>
    <!-- Bootstrap CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="~/css/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="~/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/style-responsive.css" rel="stylesheet" />
    <link href="~/css/jquery-ui-1.10.4.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/leaflet.css" />
    <script src="~/js/leaflet.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- javascripts -->
    <script src="~/js/jquery.js"></script>
    <script src="~/js/jquery-ui-1.10.4.min.js"></script>
    <script src="~/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="~/js/jquery-ui-1.9.2.custom.min.js"></script>
    <!-- bootstrap -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- nice scroll -->
    <script src="~/js/jquery.scrollTo.min.js"></script>
    <script src="~/js/jquery.nicescroll.js" type="text/javascript"></script>
</head>
<body>
    <section id="container" class="">
        <header class="header dark-bg">
            <div class="toggle-nav">
                <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
            </div>
            <!--logo start-->
            <a href="index.html" class="logo">i <span class="lite">Seeker</span></a>
            <!--logo end-->
            <!--Notification bar-->
            <div class="top-nav notification-row">
                <!-- notificatoin dropdown start-->
                <ul class="nav pull-right top-menu">
                    <!-- user login dropdown start-->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="profile-ava">
                                <i class="icon_profile" style="color:white"></i>
                            </span>
                            <span class="username">@ViewBag.Username</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout">
                            <div class="log-arrow-up"></div>
                            <li>
                                <a asp-controller="Users" asp-action="Logout"><i class="icon_key_alt"></i>Log Out</a>
                            </li>
                        </ul>
                    </li>
                    <!-- user login dropdown end -->
                </ul>
                <!-- notificatoin dropdown end-->
            </div>
            <!--Notification bar ends here-->
        </header>

        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu">
                    <!--TODO : Main menu to list overall details, order list-->
                    <li class="active">
                        <a class="" asp-area="" asp-controller="Home" asp-action="Index">
                            <i class="icon_house_alt"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="">
                        <a class="" asp-area="" asp-controller="Requirements" asp-action="Index">
                            <i class='icon_contacts_alt' style='color:white'></i>
                            <span>Seekers</span>
                        </a>
                    </li>
                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                @RenderBody()
            </section>
            <div class="text-right">
                <div class="credits">

                </div>
            </div>
        </section>
        <!--main content end-->
        <!-- Modal content-->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog container-modal modal-shadow-container" role="document">
                <div class="modal-content">
                    <div id="popupcontent"></div>
                </div>
            </div>
        </div>
        <!--modal content ends here-->
        <div class="modal-anim">
            <div class="spinner-grow text-success " role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </section>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - iSeeker - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <!--custome script for all page-->
    <script src="~/js/scripts.js"></script>
    <script src="~/js/Common.js"></script>
    <script src="~/js/requirementOverview.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
