@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>iSeeker is a web tool to track the request of needful individuals who are being asked to isolate, qurantine themselves. 
    The data stored in this are not shared or moved to any other location internally, all data are stored in a decentralized server where the application is hosted.
    The name, age and mobile number to contact, address details concerning the individual are stored which are provided by the user this is then used to 
    provide the required emergency supply to the contact. The application is not in a position to verify the authenticity of the volunteer, data feeder or requester.
</p>
